[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/microsoft/vcpkg.git
	branch = master
[submodule "Engine/vender/imgui"]
	path = Engine/vender/imgui
	url = https://github.com/HimiiFish/imgui.git
	branch = docking
[submodule "Engine/vender/ImGuizmo"]
	path = Engine/vender/ImGuizmo
	url = https://github.com/HimiiFish/ImGuizmo.git
